<style>body{display:flex; align-items:center; justify-content:center;}</style>
{{>index}}
    <div class="divError">
    <span class="errorNuber">404</span>
    <span class="errorMessage">Page not found</span>
    <a href="/index.hbs">index</a>
    </div>